body {
    background: #ffffff;
    font-family: 'Nova Mono', monospace;
    color: #4f4d4b;
}

.page {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    position: absolute;
}

.page.active {
    opacity: 1;
}

nav a.active {
    color: #f00;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.page.active img {
    opacity: 1;
}
