body {
    background: #ffffff;
    font-family: 'Anonymous Pro', monospace;
    color: #4f4d4b;
    margin: 0;
}

section {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}

section.active {
    opacity: 1;
    z-index: 1;
}

nav a.active {
    color: #f00;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    float: left;
    display: block;
    margin: 0;
}

section.active img {
    opacity: 1;
}

.w256 {
    width: 50%;
}

.w512,
.w1024,
.w2048 {
    width: 100%;
}

@media screen and (min-width: 512px) {

    .w256 {
        width: 25%;
    }

    .w512 {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {

    .w256 {
        width: 12.5%;
    }

    .w512 {
        width: 25%;
    }

    .w1024 {
        width: 50%;
    }
}
